* {
	box-sizing: border-box;
}

.body {

}

.board {
	width: 90%;
	background-color: #ffffff;
	margin: 3em auto;
	min-height: 20em;
	overflow: auto;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
}

.store {
	width: 90%;
	background-color: #fdfdfd;
	border-radius: 2px;
	border: 1px solid #bcbcbc;
	min-height: 2em;
	text-align: center;
	margin: 1em auto;
	padding: 1em;
	font-size: 1.4em;
}

.item {
	width: 80%;
	margin: .5em auto;
	min-height: 2em;
	font-size: .8em;
	font-weight: 500;
	padding: 5px;
}

.coupon {
	float: right;
}

.highlight {
	background-color: #999999;
}